*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
*.ap_
*.aab
*.dex
*.class
*.log
*.tmp
*.bak
*.swp
*~
.nbm
.build/
.classpath
.project
.settings/
bin/
gen/
out/
*.keystore
!debug.keystore
